input {
	padding: 12px;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
  border-radius: 30px;
  border: none;
  background-color: #222;
  color: #fff;
		
}

button {
	width: 100%;
  border-radius: 30px;
  border: none;
}

form {
	display: flex;
	flex-direction: column;
}
